<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse infusion history record</title>
    <!-- 引入 Element UI 的 CSS 文件 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .container {
            width: 100%;
            margin: auto;
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <el-table :data="infusions" style="width: 100%">
            <el-table-column prop="doctor_name" label="doctor_name"></el-table-column>
            <el-table-column prop="nurse_name" label="nurse_name"></el-table-column>
            <el-table-column prop="patient_name" label="pt_name"></el-table-column>
            <el-table-column prop="appointment_date" label="date"></el-table-column>
            <el-table-column prop="appointment_time" label="time">
                <template slot-scope="scope">
                    <span v-html="formatAppointmentTime(scope.row.appointment_time)"></span>
                </template>
            </el-table-column>
            <el-table-column prop="seat_number" label="seat_number"></el-table-column>
            <el-table-column prop="medication" label="medication"></el-table-column>
            <el-table-column prop="dosage" label="dosage"></el-table-column>
            <el-table-column prop="check_in_status" label="chk_status"></el-table-column>
            <el-table-column prop="sit_down_status" label="sit_status"></el-table-column>
            <el-table-column label="inf_status">
              <template slot-scope="scope">
                <span v-if="scope.row.infusion_status === 'not_started'">not_started</span>
                <span v-else-if="scope.row.infusion_status === 'infusing'">infusing</span>
                <span v-else-if="scope.row.infusion_status === 'waiting_for_removal'">waiting_for_removal</span>
                <span v-else-if="scope.row.infusion_status === 'completed'">completed</span>
                <span v-else-if="scope.row.infusion_status === 'cancelled'">cancelled</span>
              </template>
            </el-table-column>
        </el-table>

        <el-button type="primary" @click="navigateToDashboard">back to dashboard</el-button>
    </div>

    <!-- 引入 Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入 axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入 Element UI 库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
              infusions: [], // 存放从后端获取的输液历史数据
            },
            methods: {
                formatAppointmentTime(time) {
                    // 假设每个预约时段持续1小时
                    const startTime = `${time}`;
                    const endTime = `${parseInt(time) + 1}`;
                    return `${startTime}-${endTime} O'clock`;
                },
                // 跳转到仪表盘
                navigateToDashboard() {
                    window.history.back();
                },
                getInfusions() {
                    // 向后端发送请求以获取输液历史数据
                    axios.get('/infusion/get_nurse_infusion_history/')
                        .then(response => {
                            // 成功获取数据后更新infusions数组
                            this.infusions = response.data.infusions;
                        })
                        .catch(error => {
                            console.error('Error fetching infusions:', error);
                        });
                }
            },
            mounted() {
                // 在组件加载完成后立即获取数据
                this.getInfusions();
            }
        });
    </script>
</body>
</html>
