<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient infusion</title>
    <!-- 引入 Element UI 的 CSS 文件 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .container {
            width: 100%;
            margin: auto;
            padding-top: 50px;
        }
        .patient-actions {
            margin-top: 20px;
        }
        .patient-actions button {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <el-table :data="infusions" style="width: 100%">
            <el-table-column prop="doctor_name" label="doctor"></el-table-column>
            <el-table-column prop="nurse_name" label="nurse"></el-table-column>
            <el-table-column prop="patient_name" label="patient"></el-table-column>
            <el-table-column prop="appointment_date" label="date"></el-table-column>
            <el-table-column prop="appointment_time" label="time">
                <template slot-scope="scope">
                    <span v-html="formatAppointmentTime(scope.row.appointment_time)"></span>
                </template>
            </el-table-column>
            <el-table-column prop="seat_number" label="seat_num"></el-table-column>
            <el-table-column prop="medication" label="medication"></el-table-column>
            <el-table-column prop="dosage" label="dosage"></el-table-column>
            <el-table-column prop="check_in_status" label="chk_status"></el-table-column>
            <el-table-column prop="sit_down_status" label="sit_status"></el-table-column>
            <el-table-column label="inf_status">
              <template slot-scope="scope">
                <span v-if="scope.row.infusion_status === 'not_started'">not_started</span>
                <span v-else-if="scope.row.infusion_status === 'infusing'">infusing</span>
                <span v-else-if="scope.row.infusion_status === 'waiting_for_removal'">waiting_for_removal</span>
                <span v-else-if="scope.row.infusion_status === 'completed'">completed</span>
                <span v-else-if="scope.row.infusion_status === 'cancelled'">cancelled</span>
              </template>
            </el-table-column>
            <el-table-column label="operations" width="140" align="center">
                <template slot-scope="scope">
                    <div class="action-buttons">
                        <!-- 显示报到按钮 -->
                        <el-button type="text" v-if="scope.row.check_in_status === 'Not Chk-In' && scope.row.infusion_status !== 'cancelled'" @click="handleCheckIn(scope.row)">ckeck in</el-button>
                        <!-- 显示坐下按钮 -->
                        <el-button type="text" v-if="scope.row.check_in_status === 'Chk-In' && scope.row.sit_down_status === 'not_seated'" @click="handleSitDown(scope.row)">sit down</el-button>
                        <!-- 显示输液完成按钮 -->
                        <el-button type="text" v-if="scope.row.infusion_status === 'infusing'" @click="handleComplete(scope.row)">Complete infusion</el-button>
                        <!-- 显示取消按钮 -->
                        <el-button type="text" v-if="scope.row.check_in_status === 'Not Chk-In' && scope.row.infusion_status !== 'cancelled'" @click="handleCancel(scope.row)">cancel</el-button>
                    </div>
                </template>
            </el-table-column>
        </el-table>

        <el-button type="primary" @click="navigateToDashboard">back to dashboard</el-button>
    </div>

    <!-- 引入 Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- 引入 axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入 Element UI 库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
              infusions: [], // 存放从后端获取的输液历史数据
              timer: null // 用于存储定时器的引用
            },

            methods: {
                formatAppointmentTime(time) {
                    // 假设每个预约时段持续1小时
                    const startTime = `${time}`;
                    const endTime = `${parseInt(time) + 1}`;
                    return `${startTime}-${endTime} O'clock`;
                },
                getInfusions() {
                    // 向后端发送请求以获取输液历史数据
                    axios.get('/infusion/get_patient_infusion/')
                        .then(response => {
                            // 成功获取数据后更新infusions数组
                            this.infusions = response.data.infusions;
                        })
                        .catch(error => {
                            console.error('Error fetching infusions:', error);
                        });
                },
                handleCheckIn(row) {
                    // 向服务器发送 PATCH 请求以更新报到状态
                    axios.patch(`/infusion/updateCheckInStatus/${row.infusion_id}/`, {
                        check_in_status: true,
                    })
                        .then(response => {
                            // 更新成功后
                            this.getInfusions();
                            console.log("报到成功！");
                            // 添加处理成功的提示信息
                            this.$message({
                                message: 'Registration successful!',
                                type: 'success'
                            });
                        })
                        .catch(error => {
                            console.error('Error fetching infusions:', error);
                            this.$message.error('Registration failed, please try again!');
                        });

                },
                handleSitDown(row) {
                    // 向服务器发送 PATCH 请求以更新坐下状态
                    axios.patch(`/infusion/updateSitDownStatus/${row.infusion_id}/`, {
                        sit_down_status: true,
                    })
                    .then(response => {
                        // 更新成功后
                        this.getInfusions();
                        console.log("坐下成功！");
                        // 添加处理成功的提示信息
                        this.$message({
                            message: 'Sitting down successfully！',
                            type: 'success'
                        });
                    })
                    .catch(error => {
                        console.error('Error updating sit down status:', error);
                            this.$message.error('Sitting down failed, please try again!');
                    });
                },
                handleComplete(row) {
                    axios.patch(`/infusion/updateCompleteStatus/${row.infusion_id}/`)
                        .then(response => {
                            // 检查服务器响应的状态
                            if (response.data.status === 'success') {
                                // 如果成功，刷新输液历史记录
                                this.getInfusions();
                                console.log("输液完成成功！");
                                // 显示成功消息
                                this.$message({
                                    message: 'Infusion completed successfully!',
                                    type: 'success'
                                });
                            } else {
                                // 显示服务器返回的错误消息
                                this.$message.error(response.data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Error updating complete status:', error);
                            // 在控制台记录错误，并显示通用错误消息
                            this.$message.error('Infusion completion failed, please try again!');
                        });
                },
                handleCancel(row) {
                    // 向服务器发送 PATCH 请求以更新取消状态
                    axios.patch(`/infusion/patient_updateCancelStatus/${row.infusion_id}/`)
                        .then(response => {
                            // 更新成功后
                            this.getInfusions();
                            console.log("取消成功！");
                            // 添加处理成功的提示信息
                            this.$message({
                                message: 'Cancelled successfully!',
                                type: 'success'
                            });
                        })
                        .catch(error => {
                            console.error('Error updating cancel status:', error);
                            this.$message.error('Cancel failed, please try again!');
                        });
                },

                // 跳转到仪表盘
                navigateToDashboard() {
                    window.history.back();
                },
                // 设置定时器
                startTimer() {
                    this.timer = setInterval(this.getInfusions, 2000); // 2s执行一次updateSomething方法
                },
                // 清除定时器
                stopTimer() {
                    clearInterval(this.timer);
                    this.timer = null;
                }
            },
            mounted() {
                // 在组件加载完成后立即获取数据
                this.getInfusions();
                // 在组件加载完成后设置定时器
                this.startTimer();
            },
            beforeDestroy() {
                // 在组件销毁前清除定时器
                this.stopTimer();
            }

        });
    </script>
</body>
</html>
