<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>病人个人信息</title>
    <style>
        /* 按钮样式 */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* 鼠标悬停时的样式 */
        .btn:hover {
            background-color: #0056b3;
        }

        /* 编辑表单容器样式 */
        #editContainer {
            display: none;
        }
    </style>
</head>
<body>

    <h2>patient_details</h2>
    <p>name：{{ patient.name }}</p>
    {% if patient.gender == 'm' %}
        <p>gender：male</p>
    {% elif patient.gender == 'f' %}
        <p>gender：female</p>
    {% endif %}
    <p>age：{{ patient.age }}</p>
    <p>address：{{ patient.address }}</p>
    <p>information：{{ patient.info }}</p>
    <p>contact_number：{{ patient.contact_number }}</p>

    <!-- 返回按钮 -->
    <a href="/user/doctor_dashboard/" class="btn">back to dashboard</a>
    <a href="/appointment/appointment_handling/" class="btn">back to handle appointment</a>

</body>
</html>
