<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Details</title>
    <style>
        /* Button styles */
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Hover effect */
        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h2>Details of {{ doctor.name }}</h2>
    <p>Full Name: {{ doctor.name }}</p>
    <p>Gender: {{ doctor.get_gender_display }}</p>
    <p>Age: {{ doctor.age }}</p>
    <p>Department: {{ doctor.department }}</p>
    <p>Title: {{ doctor.title }}</p>
    <p>Biography: {{ doctor.info }}</p>
    <p>Phone Number / Username: {{ doctor.contact_number }}</p>

    <a href="{% url 'patient_doctor_list' %}" class="btn">Back to Doctor List</a>
    <a href="/user/patient_dashboard/" class="btn">Back to Dashboard</a>
</body>
</html>
