<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医生注册</title>
</head>
<body>
    <h2>医生注册</h2>
    <form method="post" action="{% url 'doctor_register' %}">
        {% csrf_token %}

    {% if error_message %}
        <!-- 显示错误消息，并设置为红色 -->
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

        {{ form.as_p }}
        <button type="submit">注册</button>
    </form>

    {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
    {% endif %}

    <p>已有账号？<a href="{% url 'doctor_login' %}">登录</a></p>
</body>
</html>
