{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital Fever Clinic Self-service Infusion Management System</title>
    <!-- Import Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        /* Custom styles */
        .container {
            text-align: center;
        }
        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        .btn-container .btn {
            width: 200px;
            font-size: 25px;
            margin: 20px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hospital Fever Clinic Self-service Infusion Management System</h1>
        <p class="lead">Please select your login portal below</p>
    </div>
    <div class="btn-container">
        <div class="mb-3">
            <a href="{% url 'doctor_login' %}" class="btn btn-primary btn-lg btn-block btn-sm">Doctor Login</a>
        </div>
        <div class="mb-3">
            <a href="{% url 'nurse_login' %}" class="btn btn-primary btn-lg btn-block btn-sm">Nurse Login</a>
        </div>
        <div>
            <a href="{% url 'patient_login' %}" class="btn btn-primary btn-lg btn-block btn-sm">Patient Login</a>
        </div>
    </div>
</div>
<!-- Import Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
